@{
    ViewBag.Title = "Company Home";
}

<h1>Hello Company!</h1>

<ul>
    <li><a href="/Company/Detail/1">Company Placeholder 1</a></li>
    <li><a href="/Company/Detail/2">Company Placeholder 2</a></li>
    <li><a href="/Company/Detail/3">Company Placeholder 3</a></li>
    <li><a href="/Company/Detail/4">Company Placeholder 4</a></li>
</ul>

