@model CompanyDetail
@{
}

<h1>Company Detail - @Model.Name</h1>

<form asp-action="SaveDetail" >
    <input type="hidden" asp-for="Id" />
    <label asp-for="TaxId"></label>
    <input asp-for="TaxId" />
    <span asp-validation-for="TaxId"></span>
    <br />
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Address"></label>
    <input asp-for="Address" />
    <span asp-validation-for="Address"></span>
    <br />
    <input type="submit" value="Save" />
    <a href="/company/ManageResources">Manage Resources</a>

</form>