
@{
}

<h1>Company Detail</h1>

<form action="/Company/SaveDetail" method="post">
    <label for="TaxId">Tax Id</label>
    <input name="TaxId" type="text" />
<br />
    <label for="Name">Name</label>
    <input name="Name" type="text" />
<br/>
    <label for="Address">Address</label>
    <input name="Address" type="text" />

    <input type="submit" value="Save"/>
    <a href="/company/ManageResources">Manage Resources</a>

</form>