@{
}

<h1>Manage Resources for [Company name here]</h1>

<div>
    <label>Available Resources</label>
    <select size="10">
        <option>Resource 1</option>
        <option>Resource 2</option>
        <option>Resource 3</option>
    </select>
</div>

<div>
    <a href="/company/hire">Hire</a>
    <a href="/company/terminate">Terminate</a>
</div>

<div>
    <label>Employeed Resources</label>
    <select size="10">
        <option>Resource 4</option>
        <option>Resource 5</option>
        <option>Resource 6</option>
    </select>
</div>
